<% provide(:title, "TONE") %>

<% if logged_in? %>
  <div class="container pt-4">
    <% if !@timeline_posts.nil? %>
      <%= render "posts/index_timeline", { posts: @timeline_posts, user: @user } %>
    <% else %>
      <div class="no-contents d-flex flex-column align-items-center justify-content-center mx-auto">
        <div class="no-contents-title font-weight-bold">投稿がありません</div>
        <%= render "posts/index_posts", posts: @posts %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="about-image d-flex flex-column align-items-center justify-content-center mx-auto">
    <div class="title-box">
      <p class="apptitle pt-4">Tone</p>
      <p class="title-message">モノクロで自由に</p>
    </div>
    <div class="top-login">
      <span><%= link_to "新規登録", signup_path, class:"btn btn-success mr-2" %></span>
      <span><%= link_to "ログイン", login_path, class:"btn btn-primary" %></span>
    </div>
  </div>
<% end %>

