<% provide(:title, "TONE") %>
<div class="center">
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-dark" %>
  <%= link_to "新規投稿", new_post_path, class: "btn btn-lg btn-dark" %>
</div>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  .
  .
  .
<% end %>

