<div class="row">
  <div class="col-md-8 mx-auto">
  <h2 class="text-center mt-4 mb-3">コンテスト一覧</h2>
    <div class="post-cards">
      <% @contests.each do |contest| %>
        <div class="card-index">
          <div class="card bg-transparent">
            <div class="card-header">
              <div class="contest-title">
                <%= contest.title %>
              </div>
            </div>
            <img class="card-img-top">
              <%= link_to image_tag(contest.image.url.to_s, class: "contest_image img-fluid", alt: "contest image"), contest %>
            </img>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @contests %> 