<% provide :title, "通知一覧" %>

<div class="col-md-6 mx-auto text-center">
  <h4 class="border-bottom border-secondary mt-5">通知一覧</h4>
</div>

<% notifications = @notifications.where.not(visitor_id: current_user.id) %>

<% if notifications.exists? %>
  <%= render notifications %>
  <%= paginate notifications %>
<% else %>
  <p class="text-center mt-3">通知はありません</p>
<% end %>