<div class="follow_btm_<%= user.id %>">
  <% unless current_user?(@user) %>
    <div id="follow_button">
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, remote: true, class: "btn btn-unfollow" %>
      <% else %>
        <%= link_to "フォロー", user_relationships_path(user.id), method: :post, remote: true, class: "btn btn-follow" %>
      <% end %>
    </div>
  <% end %>
</div>