<div class="posts pb-5">
  <span class="image">
    <%= link_to image_tag(post.image.url), post if post.image? %>
  </span>

  <span class="timestamp d-flex justify-content-end">
    <%= time_ago_in_words(post.created_at) %>前
  </span>
  <span class="d-flex justify-content-end">
    いいね！ <%= post.liked_users.count %> 件
  </span>
</div> 