/* mixins, variables, etc. */

@mixin sm { @media (min-width: 576px) { @content; } }
@mixin md { @media (min-width: 768px) { @content; } }
@mixin lg { @media (min-width: 992px) { @content; } }

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.user-name {
  color: black;
}

.user-name:hover {
  color: gray;
}

.user-card {
  background-color: white;
  padding: 20px;
  min-height: 280px;
  .user-name {
    margin: 15px auto 10px auto;
    text-decoration: none;
    color: #666;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

/* body */
#wrapper {
  margin: 0;
  display: flex;
  flex-flow: column;
  background-color: white;
  min-height: 100vh;
}

/* header */
.navbar {
  border-bottom: 1px solid;
}

.navbar-brand {
  font-size: 40px;
  font-family: Times New Roman;
  color: black;
}

/* footer */
footer {
  margin-top: auto;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  p {
    font-size: 0.9rem;
    padding: 0.6rem;
    margin-bottom: 0;
  }
}

/* main */
main {
  width: 100%;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.form-image {
  input {
    display: none;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #bbb;
  }
}


