// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* LoginForm */

.user-form {
  max-width: 600px;
  padding: 50px 40px 15px 40px;
  background-color: rgba($color: gray, $alpha: 0.7)
}

.login-btn {
  max-width: 150px;
}