// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar-image {
  cursor: pointer;
}

.btn-follow {
  max-width: 150px;
}

.status-name {
  color: black;
}

.status-value {
  color: black;
}

.status-value :hover {
  color: gray;
}

/* 隠し表示用 */
div.PhotoBox {
  position: relative;
  overflow: hidden;
}
div.PhotoBox div.SlideBox {
  position: absolute;
  left: 0px;
  bottom: -50px;              /* 画像の高さに合わせる */
  width: 100%;                /* 画像の横幅に合わせる */
  height: 50px;               /* スライドして重ねる領域の高さ */
  background-color: black;  /* スライドして重ねる領域の背景色 */
  color: white;             /* スライドして重ねる領域の文字色 */
  opacity: 0.6;               /* スライドして重ねる領域の透明度 */
}
div.PhotoBox div.SlideBox p.Caption {
  font-weight: bold;
  font-size: 90%;
  margin: 0.5em;
}
div.SlideBox p {
  padding-left: 5px;
}

.SlideBox {
 text-align: right;
 padding-top: 12px;
 padding-right: 20px;
}

.login-image {
  background-image: image-url("login_image.JPG");
  background-attachment: fixed;
	background-size: cover;
	background-position: center;
	min-height: 900px;
}